In [14]:
import pandas as pd
import random
jeopardy = pd.read_csv('jeopardy.csv')
#print(jeopardy)
jeopardy.rename(columns={
    'Show Number': 'show_number',
    ' Air Date': 'air_date',
    ' Round' : 'round',
    ' Category' : 'category',
    ' Value': 'value',
    ' Question': 'question',
    ' Answer': 'answer'
}, inplace=True)

In [15]:
def word_filter(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data['question'].apply(filter)]
#print(word_filter(jeopardy, ['King', 'England']))

In [16]:
def valuefix(data):
    return lambda x: float(x[1:].replace(',', '')) if x != 'None' else 0
jeopardy['float_value'] = jeopardy['value'].apply(valuefix(jeopardy['value']))

In [32]:
king_questions = word_filter(jeopardy, ' King ')

king_questions is a filtered dataframe object with questions containing the string 'king'.

In [33]:
print("The average value for questions with the string \"king\" is:")
print(round(king_questions.float_value.mean(), 0))

The average value for questions with the string "king" is:
778.0

In [26]:
def unique_count(data):
    return data.value_counts()

In [34]:
print(unique_count(king_questions['answer']))

Japan         68
Sweden        62
Henry VIII    61
Australia     55
India         55
              ..
Miltown        1
athlete        1
crab cakes     1
Terrier        1
vocabulary     1
Name: answer, Length: 37688, dtype: int64

Japan is the most common answer to questions containing the string "king".

In [62]:
pre_2000 = jeopardy[jeopardy.air_date < '2000-01-01']
post_2000 = jeopardy[jeopardy.air_date >= '2000-01-01']

pre_2000_computer = word_filter(pre_2000, 'computer')
post_2000_computer = word_filter(post_2000, 'computer')

#print(unique_count(pre_2000_computer['answer']))
#print(unique_count(post_2000_computer['answer']))
print(pre_2000_computer)

        show_number    air_date             round            category   value  \
363            2825  1996-12-06         Jeopardy!    HOMOPHONIC PAIRS    $100
366            2825  1996-12-06         Jeopardy!           MYTHOLOGY    $200
370            2825  1996-12-06         Jeopardy!  AMERICAN EXPLORERS    $300
377            2825  1996-12-06         Jeopardy!   MEASURING DEVICES    $400
379            2825  1996-12-06         Jeopardy!          TELEVISION    $600
...             ...         ...               ...                 ...     ...
216611         2046  1993-06-28  Double Jeopardy!      GEMS & JEWELRY    $600
216617         2046  1993-06-28  Double Jeopardy!      GEMS & JEWELRY    $800
216618         2046  1993-06-28  Double Jeopardy!     BIBLICAL PEOPLE  $1,000
216620         2046  1993-06-28  Double Jeopardy!     WORLD GEOGRAPHY    $800
216621         2046  1993-06-28  Double Jeopardy!      POETS & POETRY    $800

                                                 question  \
363                               A complete donut center
366     Cadmus planted these parts of a dragon to rais...
370     Co-commanders of the 1st U.S. expedition to ex...
377     A spirometer measures the capacity of these or...
379     Character seen <a href="http://www.j-archive.c...
...                                                   ...
216611  Popularly worn in brooches, cairngorm is a smo...
216617  The most highly prized color of this September...
216618  This judge's general, Barak, refused to battle...
216620  The capitals of British Columbia, Hong Kong & ...
216621  A poem about him begins, "Come, all you rounde...

                        answer  float_value
363                 whole hole        100.0
366                      teeth        200.0
370              Lewis & Clark        300.0
377                  the lungs        400.0
379     Hercules (Kevin Sorbo)        600.0
...                        ...          ...
216611                Scotland        600.0
216617                sapphire        800.0
216618                 Deborah       1000.0
216620                Victoria        800.0
216621             Casey Jones        800.0

[24027 rows x 8 columns]